<!DOCTYPE html>
<html ng-app="devLittlehelper">
<head>
    <link rel="stylesheet" href="lib/css/materialize.min.css">
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<style>

	@media only screen and (min-width: 993px){
		nav a.button-collapse{
			display:inline;
			margin-left: -119px;
		}
	}

</style>
<body ng-controller="requestList">
<nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container">
        <a id="logo-container" href="#" class="brand-logo">
            Fed Little Helper
        </a>
        <a href="#" id="insertscript" ng-click="reisterRequests()" data-activates="nav-mobile"
           class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
</nav>
<div class="container">

    <ul class="collapsible" data-collapsible="accordion">
        <li ng-repeat="request in requests">

            <div class="collapsible-header">
                <request-header request="request" remove-request="removeRequest(request, $event)"></request-header>
            </div>

            <div class="collapsible-body">

                <request-body request="request"></request-body>

                <div class="row" ng-if="request.request.postData" style="margin:10px">
                    <div class="col s12">
                        <div class="card darken-1">
                            <div class="card-content">
                                <span class="card-title">Post Data</span>
                                <div>
                                    <pre class="grey lighten-3">
                                        {{request.request.postData | json}}
                                    </pre>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </li>
    </ul>
    <a class="btn-floating btn-large waves-effect waves-light red" ng-click="addNewRequest()"><i class="material-icons">add</i></a>
    <a id='save-all-btn' class="btn-floating btn-large waves-effect waves-light green" ng-click="play()" ng-show="requests.length>0 && !isPlaying"><i class="material-icons">play_arrow</i></a>
    <a id='stop-btn'     class="btn-floating btn-large waves-effect waves-light red" ng-click="stop()" ng-show="isPlaying"><i class="material-icons">stop</i></a>


    <!--modal-->
    <div id="modal1" class="modal bottom-sheet">
        <div class="modal-content">

            <h4>Create Mock Server</h4>
            <p>copy and place into "server" directory:</p>
            <pre class="grey lighten-3">
                {{routerCode}}
            </pre>

        </div>
        <div class="modal-footer">
            <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
        </div>
    </div>


</div>

<script type="text/javascript" src="lib/js/jquery-2.1.1.min.js"></script>
<script src="angular.min.js"></script>
<script src="messaging.js"></script>
<script src="panel.js"></script>
<script src="lib/js/materialize.js"></script>
<script src="directives/requestHeaderDtv.js"></script>
<script src="directives/requestBody.js"></script>
</body>
</html>