<!DOCTYPE html>
<html ng-app="devLittlehelper">
<head>
	<link rel="stylesheet" href="lib/css/materialize.min.css">
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body  ng-controller="requestList">
  <nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container">
	    <a id="logo-container" href="#" class="brand-logo">
		    Fed Little Helper
	    </a>
      <a href="#" id="insertscript" ng-click="reisterRequests()" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>
  <div class="container">
	  	
		<ul class="collapsible" data-collapsible="accordion">                     
			<li ng-repeat="request in requests">
				<div class="collapsible-header">
					<div class="row">	
						<div class="col s1">
							<i class="material-icons" ng-if="request.request.method==='GET'">call_received</i>
							<i class="material-icons" ng-if="request.request.method==='POST'">call_made</i>
						</div>
						<div class="col s10">	
							{{request.request.url}}
						</div>
						<div class="col s1">
							<a href="return false;" ng-click="removeRequest(request, $event); $event.stopPropagation();">
							   <i class="material-icons right-align">close</i>	
							</a>
						</div>	
					 </div>
				</div>

				<div class="collapsible-body">
					
						<div class="row">
							<div class="col s12">
								<div class="card darken-1" style="margin:10px">
									<div class="card-content">
										<span class="card-title">Json</span>
										<div>
											<pre class="grey lighten-3">{{request.json | json}}												
											</pre>
										 </div>
									</div>

								</div>
							</div>
						</div>

						<div class="row" ng-if="request.request.postData" style="margin:10px">
							<div class="col s12">
								<div class="card darken-1">
									<div class="card-content">
										<span class="card-title">Post Data</span>
										<div>
											<pre class="grey lighten-3">
												{{request.request.postData | json}}
											</pre>
										</div>
									</div>

								</div>
							</div>
						</div>

				</div>
			</li>				
		</ul>
        <a class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add</i></a>


		<!--modal-->
		<div id="modal1" class="modal bottom-sheet">
			<div class="modal-content">

			<h4>Create Mock Server</h4>
			<p>copy and place into "server" directory:</p>
			<pre class="grey lighten-3">
				{{routerCode}}
			</pre>

			</div>
			<div class="modal-footer">
			<a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
			</div>
		</div>


   </div>

	<script src="angular.min.js"></script>
	<script type="text/javascript" src="lib/js/jquery-2.1.1.min.js"></script>
	<script src="messaging.js"></script>
	<script src="panel.js"></script>
	<script src="lib/js/materialize.js"></script>
</body>
</html>